@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    Make Clappers Cars your dealer in the Akron, OH area and see the difference that selection, service, and price make.

    Ohio drivers shop with our advanced inventory search to compare a range of vehicles and more, along with a huge selection of certified used vehicles. Save with special Internet prices or input your request right now and trust our certified team to get the job done right.

    Search our inventory and you can see right away which car is right for you, so you get behind the wheel of the perfect new car faster.

    We also have a highly trained staff of service technicians.
</p>
<hr />

<p>
    Find us just off Route 8. Canton drivers, you're not far!

    Clappers Cars serves car owners and shoppers throughout the Akron/Canton area.

    More drivers choose Clappers Cars - find out why today!
</p>