@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    Clappers Cars, LLC.<br />
    Akron, OH 44311<br />
    <abbr title="Phone">P:</abbr>
    855.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@clapperscars.com">Support@clapperscars.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@clapperscars.com">Marketing@clapperscars.com</a>
</address>