@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clappers Cars</h1>
    <p class="lead">Come find your next vehicle with us!</p>
    <img src="~/Content/Pics/farrari.png" />
</div>